<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add participant</title>
<link th:href="@{/styles/css/Register.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div id ="allPage"style="width:480px; margin-left:auto; margin-right:auto;">
<header>
<h1>Add Participant</h1>
</header>
      
<form id = "allform" th:action="@{/add}" action="#" th:object="${participant}" method="post">
<br>
	  <label for="name">Partipant name:</label><br>
	  <input style="width:400px; height:25px;" type="text" id="name" name="name" placeholder="Enter the Participant Name" field="*{name}" required/><br><br>
	  
	  <label for="grade">SchoolGrade:</label><br>
	  <input style="width:400px; height:25px;" type="text" id="grade" name="grade" placeholder="Enter the Grade" field="*{grade}" required/><br><br>
	  
	  <label for="dob">DOB:</label><br>
	  <input style="width:400px; height:25px;" type="date" id="dob" name="dob" placeholder="Enter the Dob" field="*{dob}" required/><br><br>
	   
	  <label for="age">Age:</label><br>
	  <input style="width:400px; height:25px;" type="text" id="age" name="age" placeholder="Enter the Age" field="*{age}" required/><br><br>
	   
	  <label for="gender">Gender:</label><br>
	  <input style="width:400px; height:25px;" type="text" id="gender" name="gender" placeholder="Enter the Gender" field="*{gender}" required/><br><br>
	   
	  <label for="email">Email:</label><br>
	  <input style="width:400px; height:25px;" type="text" id="Email" name="Email" placeholder="Enter the Email" field="*{Email}" required/><br><br>
	  <br>
	  
	  
	  <div style="text-align:center;">
		  <input id="btnAdd" name="btnAdd" type="submit" value="Add Participant"/>
		  <br>
		  <br>
	  </div>
</form>
      
</div>
</body>
</html>