<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Online System</title>
<link th:href="@{/styles/css/StyleSheet.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id ="allPage">
	<h1> Display Data</h1>
	      
	<h2>  List of Participant </h2>
      
      
      <table border="1" width = 100%>
        <thead>
            <tr>
                <th> Partipant name </th>
                <th> SchoolGrade </th>
                <th> DOB </th>
                <th> Age </th>
                <th> Gender </th>
                <th> Email </th>
            </tr>
        <thead>
        <tbody>
            <tr th:each="participant : ${participants}"> 
              <td th:text="${participant.name}"> Name </td>
              <td th:text="${participant.grade}"> SchoolGrade </td>
              <td th:text="${participant.dob}"> dob </td>
              <td th:text="${participant.age}"> Age </td>
              <td th:text="${participant.gender}"> Gender </td>
              <td th:text="${participant.email}"> Email </td>
              <td><a th:href="@{/edit/{id}(id=${participant.partId})}">Update</a></td>
             <td><a th:href="@{/delete/{id}(id=${participant.partId})}">Delete</a></td>
            </tr>
        
        </tbody>
      </table>
      <p><a href="/part">Add a new Department</a></p>
</body>
</html>